html{
    background-color: black;
    color: white;
    background-image: url("../img/Car.jpg");
}

h1{
    background: black;
    color: white;
    text-align: center;
}

.boxed{
    position: absolute;
    background: white;
    color: black;
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 0;
    background: black;
    color: rgb(255,255,255);
}