/* Changing this whole thing to imitate dark mode with colorful text (Miami Vice) */

/* Color */
html{
    background-color: black;
    color: white;
    background-image: url("../img/Vice.jpg");
}

h1{
    color: rgb(255,211,25);
    background-color: rgb(140,30,255);
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.titleH1{
    color: rgb(255,211,25);
    background-color: rgb(140,30,255);
    text-transform: uppercase;
    position: absolute;
    left: 60%;
    transform: translate(-2%);
}

.titleH1:hover{
    color: rgb(255,41,117);
    background-color: black;
}

.titleH1:active{
    transform: translate(-500%);
}

/* Introduction */
.introduction{
    visibility: hidden;
    position: absolute;
    background: rgb(140,30,255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introduction h1{
    position: absolute;
    top: -70%;
    left: -70%;
    visibility: visible;
}

.introduction:hover{
    visibility: visible;
}

/* Assignment */
.assignment{
    visibility: hidden;
    position: absolute;
    background: rgb(140,30,255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.assignment h1{
    position: absolute;
    top: -275%;
    left: 400%;
    visibility: visible;
}

.assignment:hover{
    visibility: visible;
}

/* Portfolio */
.portfolio{
    visibility: hidden;
    position: absolute;
    background: rgb(140,30,255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio h1{
    position: absolute;
    top: -70%;
    left: -30%;
    visibility: visible;
}

.portfolio:hover{
    visibility: visible;
}

/* Schedule */
.schedule{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.schedule tr:nth-child(even){
    background-color: rgb(242,34,255);
}

.schedule tr:nth-child(odd){
    background-color: rgb(255,144,31);
}

.schedule h1{
    position: absolute;
    top: 30%;
    left: 130%;
    visibility: visible;
}

.schedule:hover{
    visibility: visible;
}

/* Contact Info */
.contact_info{
    visibility: hidden;
    position: absolute;
    background: rgb(140,30,255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_info h1{
    position: fixed;
    left: -450%;
    visibility: visible;
}

.contact_info:hover{
    visibility: visible;
}

.navbar li{
    display: inline-table;
    padding-right: 40px;
    left: 50%;
    width: 100px;
}

th, td{
    border: 5px solid black;
    padding: 3px;
    text-align: center;
    color: black;
    empty-cells: show;
}

.center{
    position: absolute;
    left: 80%;
    transform: translate(-50%);
}

.footer{
    position: fixed;
    bottom: 0;
    background: black;
    color: rgb(248,144,231);
}

.iframe{
    display: block;
}

h1{
    border: black solid 1px;
    border-radius: 10px 20px 30px 30px;
    box-shadow: -10px -20px 10px black;
    transition:ease-in-out 0.5s, transform 0.5s;
  }
  
h1:hover{
    transform:translate(10px, 10px);

}
  
h1~p{
    opacity: 1;
    transition: ease-in-out 1s, all 1s;
}

p{
    color: white;
    font-weight: 200;
    font-family: 'Orbitron', sans-serif;
    line-height: 1.4em;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #ff901f;
}

p::first-letter {
    font-size: 200%;
    color: rgb(255,41,117);
}

a:link { color: rgb(11,211,211); }          /* Unvisited links */
a:visited { color: rgb(248,144,231); }     /* Visited links */
a:active { color: rgb(11,211,211); }         /* Active links */
a:hover {color: rgb(255,144,31);}