/* Changing this whole thing to imitate dark mode with colorful text (Miami Vice) */

/* Color */
html{
    background-color: black;
    color: white;
}

/* Position || Use absolute position style for introduction, portfolio, schedule, contact and
address sections and put them in the center of page */
.introduction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.schedule{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.address{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

th, td{
    border: 1px solid rgb(248,144,231);
    padding: 5px;
    text-align: center;
}

h1{
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.footer{
    position: fixed;
    bottom: 0;
}

.assignment{
    margin-left: auto;
    margin-right: auto;
}

.iframe{
    display: block;
}