/* Changing this whole thing to imitate dark mode with colorful text (Miami Vice) */

/* Color */
html{
    background-color: black;
    color: white;
}

h1{
    color: rgb(11,211,211);
}

/* Position || Use absolute position style for introduction, portfolio, schedule, contact and
address sections and put them in the center of page */
.introduction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.schedule{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introH1{
    position: absolute;
    top: 20%;
    left: 20%;
}

th, td{
    border: 1px solid rgb(248,144,231);
    padding: 5px;
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.footer{
    position: fixed;
    bottom: 0;
}

.assignment{
    margin-left: auto;
    margin-right: auto;
}

.iframe{
    display: block;
}

.navbar{
    display: inline-table;
    padding: 40px;
    width: 100px;
}

h1{
    text-shadow: 0.3em 0.3em 0.1em bisque;
    border: black solid 1px;
    border-radius: 10px 20px 30px 30px;
    box-shadow: -10px -20px 10px black;
    transition:ease-in-out 2s, transform 2s;   /* main element */
  }
  
h1:hover{
    transform:translate(20px,20px);
}
  
h1~p{
    opacity: 1;
    transition: ease-in-out 2s, all 2s;
}
  
h1:active ~p{
    opacity:0;
    transform: scale(0.2);
}